---
import GuidePage from "@layouts/GuidePage.astro";
import { getCollection } from "astro:content";


interface SectionContent {
  title: string;
  description: string;
  slug: string;
  order: number;
}

interface Section {
  title: string;
  content: SectionContent[];
}

async function createSections(): Promise<Section[]> {
  const guideEntries = await getCollection("guide");
  const sections: Section[] = [
    { title: "Introduction", content: [] },
    { title: "Client", content: [] },
    { title: "Server", content: [] },
  ];

  guideEntries.forEach((entry) => {
    const content: SectionContent = {
      title: entry.data.title,
      description: entry.data.description,
      slug: entry.slug,
      order: entry.data.order,
    };
    const section: Section = sections.find(
      (section) => section.title == entry.data.section
    );

    if (section === undefined) {
      sections.push({
        title: entry.data.section,
        content: [content],
      });
    } else {
      section.content.push(content);
    }
  });

  sections.forEach((section) =>
    section.content.sort((a, b) => a.order - b.order)
  );

  return sections;
}

const currentPath = new URL(Astro.request.url).pathname;
const sections = await createSections();
---

<aside class="sidebar">
  <img src="/logo.svg" alt="Pocket Relay Logo" class="logo" />
  <nav>
    <ul>
      {
        sections.map((section) => (
          <li class="section">
            <h2 class="section__title">{section.title}</h2>
            <ul class="section__content">
              {section.content.map((content) => (
                <li class="section__content__item">
                  <a href={`/guide/${content.slug}`} class={currentPath === `/guide/${content.slug}` ? "content content--active" : "content"}>
                    <h3 class="content__title">{content.title}</h3>
                    <p class="content__description">{content.description}</p>
                  </a>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>

<style>
  .sidebar {
    padding: 1rem;
    background-color: #222;
    height: 100%;
    max-width: 24rem;
    width: 100%;
    overflow-y: auto;
  }

  .section {
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
  }

  .section__title {
    font-size: 1rem;
    color: #999;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .section__content {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }

  .section__content__item {
  }

  .content {
    display: block;
    text-decoration: none;
    background-color: #2f2f2f;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  .content--active {
    background-color: #534377;
 }

  .content__title {
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
  }

  .content__description {
    color: #b3b3b3;
    font-weight: 400;
  }

  .content--active > .content__description {
    color: #ddd;
  }

  .logo {
    max-width: 240px;
    margin: 0 auto 1.5rem;
    display: block;
</style>
